{% extends 'base.html' %}
{% load static %}

{% block thanks %}

	<!-- Галерея -->
  	<section>
<div class="wrapper">
	<div class="main_sertif text-center ">
		<h1>Сертификаты</h1>
		<div class="gallery container">
			<div class="line1">
				<img src='{% static "/img/36.jpg"%}' class="rounded mx-auto d-block w-50  " alt="">
				<p></p>
				<img src='{% static "/img/6.jpeg"%}' class="rounded mx-auto d-block w-50" alt="">
				<p></p>
				<img src='{% static "/img/7.jpeg"%}' class="img-thumbnail w-50" alt="">
				<p></p>
				<img src='{% static "/img/8.jpeg"%}' class="rounded mx-auto d-block w-50" alt="">
				<p></p>
				<img src='{% static "/img/9.jpeg"%}' class="rounded mx-auto d-block w-50" alt="">
				<p></p>
				<img src='{% static "/img/10.jpeg"%}'  class="rounded mx-auto d-block w-50" alt="">
				<p></p>
				<img src='{% static "/img/11.jpeg"%}' class="rounded mx-auto d-block w-50 " alt="">
				<p></p>
				<img src='{% static "/img/12.jpeg"%}' class="rounded mx-auto d-block w-50 "alt="">
				<p></p>

				<img src='{% static "/img/13.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/14.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/15.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/16.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/17.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/18.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/19.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/20.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/21.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/22.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/23.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/24.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/25.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/26.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/27.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/28.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/29.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/30.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/31.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/32.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/33.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/34.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>
				<img src='{% static "/img/35.jpeg"%}' class="rounded mx-auto d-block w-50"alt="">
				<p></p>

			</div>
			<div class="line3">

			</div>
			<div class="line4">

			</div>
		</div>
	</div>

</div>
  	</section>


{% endblock %}

